services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hack_frontend
    restart: unless-stopped
    env_file: .env
    environment:
      NEXT_PUBLIC_API_URL: "${NEXT_PUBLIC_API_URL}"
      NEXT_TELEMETRY_DISABLED: "${NEXT_TELEMETRY_DISABLED}"
      NODE_ENV: "production"
      PORT: "3000"
      HOSTNAME: "0.0.0.0"
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
