@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
.dark :root { color-scheme: dark; }

* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media print {
  .no-print { display: none !important; }
}
